.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Avoid accidental upload of the Sketch and Figma design files
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file

*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore