$font-family: 'Space Mono', monospace;
$font-extra-large: 2.6rem;
$font-middle-large: 2.2rem;
$font-middle-big: 1.8rem;
$font-big: 1.6rem;
$font-middle-regular: 1.5rem;
$font-regular: 1.3rem;
$font-small: 1.1rem;

$logo-color: #222731;
$error-color: #F74646;

$primary-color: #0079FF;
$button-active-color: #60ABFF;

$font-color-primary: #4B6A9B;
$font-color-secondary: #2B3442;
$font-color-tertiary: #697C9A;
$font-color-light: #FFFFFF;

$primary-background-light: #F6F8FF;
$primary-background-dark: #141D2F;

$secondary-background-light: #FEFEFE;
$secondary-background-dark: #1E2A47;